<div class="row justify-content-center">

    <h1 class="text-center polarText display-1">Make A Survey</h1>
    <form action="" class="my-4 border border-dark col-9 logoGray border-3">
            <div class="row justify-content-center my-4">
              <label for="question" class="col-3 text-end">Your Question</label>
              <input type="text" class="col-8" id="question" placeholder="Your Question" name="yourname">
              <div class="col-1"></div>
            </div>
            <div class="row justify-content-center my-4">
              <label for="choice1" class="col-3 text-end">First Choice</label>
              <input type="text" class="col-7" id="choice1" placeholder="First Choice" name="choice1">
              <div class="col-1"></div>
            </div>
            <div class="row justify-content-center my-4">
                <label for="choice2" class="col-3 text-end">Second Choice</label>
                <input type="text" class="col-7" id="choice2" placeholder="Second Choice" name="choice2">
                <div class="col-1"></div>
              </div>
              <div class="row justify-content-center my-4">
                <label for="choice3" class="col-3 text-end">Third Choice</label>
                <input type="text" class="col-7" id="choice3" placeholder="Third Choice" name="choice3">
                <div class="col-1"></div>
              </div>
              <div class="row justify-content-center my-4">
                <label for="choice4" class="col-3 text-end">Forth Choice</label>
                <input type="text" class="col-7" id="choice4" placeholder="Forth Choice" name="choice4">
                <div class="col-1"></div>
              </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary col-3 my-3">Make It</button>
            <a href="/account" class="btn btn-warning col-3 my-3">Cancel</a>
          </div>
          
    </form>
     <!-- Repeatable Row Template -->   

             <% for(let count = 0; count < question.length; count++) { %>
              
                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><%= question[count].YourQuestion %></td>
                    <td><%= question[count].FirstChoice %></td>
                    <td><%= question[count].SecondChoice %></td>
                    <td><%= question[count].ThirdChoice %></td>
                    <td><%= question[count].ForthChoice %></td>
                    
                    <!--click submit button to go to the update webpage and  the user data will be parsed to the update page -->
                    <td class="text-center"><a href="/question/<%= question[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-user-edit"></i></i> Make It</a></td>
                     <!--click delete button to delete the user data from database then redirect to the contacts_list page -->
                    <td class="text-center"><a href="/contacts_list/delete/<%= contact[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash"></i></i> Cancel</a></td>
                    
                </tr>
              <% } %>
    <h3 class="polarText">Feel free to delete or add more as you need. (this is a message to the developers)</h3>
    
</div>