<%# The page for showing the user account details %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<!-- User Account Information Section -->
<div class="row justify-content-center mb-5">

  <h1 class="text-center polarText display-1">Account</h1>
  <div class="my-4 border border-dark col-9 logoGray border-3 whiteText">
    <div class="row justify-content-center my-4 text-center">
      <p>User Name: <%=user.username %></p>
      <p>E-mail:<%=user.emailAddress %></p>
      <p>Contact Number: <%=user.contactNumber %></p>
    </div>

    <div class="row justify-content-center mb-5 text-center">
      <a href="/edituser/<%= user._id %>" class="col-6"><button class="customButtonSpecial">Edit User</button></a>
    </div>
  </div>

</div>

<!-- The List of the User's Surveys -->
<div class="row justify-content-center mb-5 text-center">
  <a href="/makesurvey" class="col-4"><button class="customButtonSpecial">Make Survey</button></a>
</div>
<h1 class="text-center polarText">Survey List</h1>
<div class="row mb-5">
  <div class="col">
    <table class="table border border-dark mb-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Available From</th>
          <th scope="col">Expires At</th>
          <th scope="col">Active Override</th>
          <th scope="col">Updated At</th>


          <th></th>
          <th></th>
          <th></th>
          <th></th>


        </tr>
      </thead>
      <tbody>

        <!--Repeatable Row Template-->
        <% for(let count = 0; count < survey.length; count++){ %>
        <tr>
          <th scope="row"><%= count + 1 %></th>
          <td><%= survey[count].title %></td>
          <td><%= displayDate(survey[count].activeFrom) %></td>
          <td><%= displayDate(survey[count].expiresAt) %></td>
          <td>
            <%= typeof survey[count].activeOverride !== "boolean" ? "" :
              survey[count].activeOverride ? "Active" : "Inactive" %>
          </td>
          <td><%= displayDate(survey[count].updatedAt) %></td>
          <td><a href="/download/<%= survey[count]._id %>"><Button class="customButtonDownload">Download</Button></a></td>
          <td class="text-center">
            <a href="/surveyresponse/<%= survey[count]._id %>">
              <button class="customButtonResult">Result</button>
            </a>
          </td>
          <td class="text-center">
            <a href="/editsurvey/<%= survey[count]._id %>">
              <button class="customButtonEdit">Edit</button>
            </a>
          </td>
          <td class="text-center">
            <a href="/delete/<%= survey[count]._id %>" title="delete"
              onclick="return confirm('Are you sure you want to delete this survey?')">
              <button class="customButtonDelete"> Delete </button>
            </a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
