<%# The page to create/edit a survey question %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<div class="row justify-content-center">

  <h1 class="text-center polarText display-1">Edit Survey</h1>

  <form method="POST" class="my-4 border border-dark col-9 logoGray border-3">
    <div class="row justify-content-center my-4">
      <label for="title" class="col-3 text-end">title</label>
      <input type="text" class="col-7" id="title" placeholder="Survey Title" name="title"
        value="<%=surveyItem.title %>" required>
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center my-4">
      <label for="activeFor" class="col-3 text-end">Active From</label>
      <input type="date" class="col-7" id="activeFrom" placeholder="Start Date" name="activeFrom"
        value="<%= formatDate(surveyItem.activeFrom) %>" required>
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center my-4">
      <label for="activeFor" class="col-3 text-end">Active Til</label>
      <input type="date" class="col-7" id="expiresAt" placeholder="End Date" name="expiresAt"
        value="<%= formatDate(surveyItem.expiresAt) %>">
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center align-items-center my-4">
      <div class="col-10 col-lg-4 text-center text-lg-end me-4">
        <label for="isActiveStateOverridden" class="form-label me-2 mb-2"
          title="You can override the visibility of this survey regardless of the active/expire dates. If you check this, the value for the 'Override Value' will be used to set if your survey is visible or not.">
          Override Active State
        </label>
        <input type="checkbox" class="form-check-input" name="isActiveStateOverridden" id="isActiveStateOverridden"
          <%= typeof surveyItem.activeOverride === "boolean" ? "checked" : "" %>>
      </div>
      <div class="col-10 col-lg-8 row align-items-center">
        <span class="col-12 col-lg-5 text-center text-lg-end mb-1 mb-lg-0">Override Value</span>
        <div class="col-6 col-lg-3 text-center">
          <input type="radio" name="activeOverride" id="activeOverrideActive" class="form-check-input" value="true"
            <%= surveyItem.activeOverride || typeof surveyItem.activeOverride === "undefined" ? "checked" : "" %>>
          <label for="activeOverrideActive" class="form-label">Active</label>
        </div>
        <div class="col-6 col-lg-3 text-center">
          <input type="radio" name="activeOverride" id="activeOverrideInactive" class="form-check-input" value="false"
            <%= surveyItem.activeOverride === false ? "checked" : "" %>>
          <label for="activeOverrideInactive" class="form-label">Inactive</label>
        </div>
      </div>
    </div>
    <% for(let count = 1; count < 6; count++) {%>
    <div class="row justify-content-center my-4">
      <label for="question" class="col-3 text-end"><%= count %>) Your Question</label>
      <input type="text" class="col-8" id="question" placeholder="Your Question" name="question<%= count %>"
        value="<%=surveyItem.questions[count-1] %>" required>
      <div class="col-1"></div>
    </div>
    <hr>
    <% } %>
    <div class="row justify-content-center mb-4">
      <button type="submit" class="customButtonDownload col-3">Edit It</button>
      <div class="col-1"></div>
      <a href="/account" class="customButtonCancel col-3 text-center">Cancel</a>
    </div>
  </form>

</div>
