<%# The header of every page %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<h1 class="text-center polarText display-1">Available Survey</h1>
<div class="row">
  <div class="col">
    <table class="table border border-dark logoGray">
      <thead>
        <br><br>
        <tr>
          <th scope="col" class="text-center d-none d-lg-table-cell">#</th>
          <th scope="col">Title</th>
          <th scope="col" class="text-center d-none d-lg-table-cell">Available From</th>
          <th scope="col">Expires At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <!--Repeatable Row Template-->

        <% for(let count = 0; count < survey.length; count++){ %>
        <tr>
          <th scope="row" class="polarPurpleText d-none d-lg-table-cell"><%= count + 1 %></th>
          <td><%= survey[count].title %></td>
          <td class="text-center d-none d-lg-table-cell"><%= displayDate(survey[count].activeFrom) %></td>
          <td><%= displayDate(survey[count].expiresAt) %></td>
          <td class="text-center"><a href="/question/<%= survey[count]._id %>"> <button class="customButtonEdit">Participate</button> </a>
          </td>
        </tr>
        <% } %>

      </tbody>
    </table>
  </div>
</div>
